<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="209682923125-1njg0h2p8kmd90qfhd0gk3nj7kn0m3fh.apps.googleusercontent.com">
    <title>Hello Bustracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <%= if get_flash(@conn, :info) do %>
       <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
     <% end %>
     <%= if get_flash(@conn, :error) do %>
       <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
     <% end %>


      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <button onclick="signOut();"> Sign out </a>
    </div> <!-- /container -->
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      localStorage.clear();
      window.location.reload();
    }
  </script>
    <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      window.localStorage.setItem("googletoken", "xxxxxxx");
      window.localStorage.setItem("googleuser_id", profile.getId());
      console.log(window.localStorage.getItem("googleuser_id", profile.getId()));
    }
  </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3GeKIvLr4uKv4ChTRx10ktEUzh4WAvY&libraries=places"></script>
  </body>
</html>
