/* This file is for your main application css. */

@import "bootstrap";

// Autocomplete stuff
#map {
  width:100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  box-shadow: -5px 5px 20px 3px #383434;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.login {
	margin-right: 7px;
}

.msg {
	text-align: center;
	margin-top: 10%;
}

.hidden {
  display:none;
}

#root{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.container{
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.bg-dark {
  background: #000 !important;
}

.find-buses {
  margin: 5rem auto;
  h5{
    color: #bcc3ca;
    font-weight: 200;
    margin-bottom: 20px;
  }
  input,select{
    background: none;
    border: 1px solid #efefef;
    margin: 15px 0px;
    color: #bcc3ca;
    &:focus, &:active{
      background: none;
      color: #bcc3ca;
      border: 1px solid #efefef;
    }
  }
  .btn{
    background: #a41715;
    border: #a41715;
    margin: 10px 0px;
    padding: 0.375rem 1.5rem;;
    color: #bcc3ca;
    &:focus, &:active{
      background: #a41715;
      border: #a41715;
    }
    &:hover{
      background: #c71613;
    }
  }
}
.navbar{
  z-index: 1;
}
.navbar-login {
  input{
    background: none;
    border: 0;
    box-shadow: 0 0 2px #efefef;
    margin: 0 5px;
    color: #bcc3ca;
    &:focus, &:active{
      background: none;
      color: #bcc3ca;
      box-shadow: 0 0 2px #efefef;
      border: 0;
    }
  }

  .btn{
    background: #a41715;
    border: #a41715;
    margin: 0 5px;
    padding: 0.375rem 1.5rem;;
    &:focus, &:active{
      background: #a41715;
      border: #a41715;
    }
    &:hover{
      background: #c71613;
    }
  }
}

.login-msg {
  background: rgba(0, 0, 0, 0.8);
  color: #bcc3ca;
  font-size: 18px;
  padding: 3rem;
  border-radius: 10px;
  h5{
    font-weight: 100;
    margin-bottom: 20px;
  }
  p{
    font-weight: 100;
    font-size: 16px;
  }
  @media screen and (max-width: 960px) {
    margin: 0;
    height: 100vh;
  }
}
.main-data{
  margin: 5rem;

}
#regForm{
  margin-top: 5rem;
  h3{
    color: #bcc3ca;
    font-weight: 300;
  }
  input{
    background: none;
    border: 0;
    box-shadow: 0 0 2px #efefef;
    margin: 20px 5px;
    color: #bcc3ca;
    &:focus, &:active{
      background: none;
      color: #bcc3ca;
      box-shadow: 0 0 2px #efefef;
      border: 0;
    }
  }
  .btn{
    background: #a41715;
    border: #a41715;
    margin: 10px 5px;
    padding: 0.375rem 1.5rem;;
    color: #bcc3ca;
    &:focus, &:active{
      background: #a41715;
      border: #a41715;
    }
    &:hover{
      background: #c71613;
    }
  }
  &:before {
    display: block;
    content: '';
    background: #504e4e;
    height: 1px;
    width: 75%;
    margin-top: -20px;
    margin-bottom: 45px;
  }
}

.navbar-text {
  .btn{
    background: #a41715;
    border: #a41715;
    margin: 10px 5px;
    padding: 0.375rem 1.5rem;;
    color: #bcc3ca;
    &:focus, &:active{
      background: #a41715;
      border: #a41715;
    }
    &:hover{
      background: #c71613;
    }
  }
}

.predictions{
  margin: 40px 0;
  > div{
    padding: 15px 10px;
    border-bottom: 1px solid #504e4e;
    transition: 0.3s all ease;
    &:hover{
      background: rgba(0, 0, 0, 0.8);
      // box-shadow: 0px 1px 3px #efefef;
      border-bottom: 2px solid #504e4e;
    }
  }
  .bus-number{
    background: #fbc02d;
    color: black;
    padding: 2px 10px;
  }
  .destination-name{

  }
  a{
    color: #bcc3ca;
    &:hover{
      text-decoration: none;
    }
  }
}
.trip-schedule{
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 5rem;
  max-width: 650px;
  margin: 3rem 5rem;
  color: #bcc3ca;
  > div{
    padding: 15px 10px;
    border-bottom: 1px solid #504e4e;
    transition: 0.3s all ease;
  }
  h4{
    margin-top: 3rem;
    margin-bottom: 2rem;
    &:before{
      display: block;
      content: '';
      background: #a41715;
      height: 5px;
      width: 20px;
      margin-bottom: -40px;
    }
  }
}
.google-signin{
  width: 178px;
  height: 40px;
  background: url('/images/google-signin.png') no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
}
